@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Display");

body {
  text-align: center;
  font-family: "Big Shoulders Display";
}

#calc-container {
  height: 560px;
  display: inline-block;
}

#calc-display {
  width: calc(100% - 6px);
  height: 100px;

  margin: 10px auto;
  justify-content: flex-end;
  align-items: center;
  display: flex;

  background-color: rgb(239, 239, 239);
  border: 2px solid black;
  font-size: 70px;
}

.calc-btn {
  width: 80px;
  height: 80px;
  margin: 3px;
  font-size: 40px;
}

.mt-spacing {
  margin-top: 4%;
}

.col-sm {
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.text-left {
  text-align: left !important;
}

#history {
  height: 1.2rem;
}

#history-container {
  background-color: rgb(231, 231, 231);
  border: 1px solid black;
  border-radius: 0.1rem;

  height: 34px;
  padding: 3px 8px;
  text-align: left !important;
  width: 246px;

  position: relative;
  left: -9px;
}

#app-container {
  background-color: rgb(150, 150, 150);
  border: 2px solid black;
  padding: 24px 42px;
}
